footer{
    background-color: var(--cor-primaria-medio);
    box-shadow: 0px 0px 10px 2px var(--cor-box-shadow-secundario); 
    padding: 10px;
   
}

#footer_items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    text-align: center;
    align-items: center;
}

#copyrigth{
    color: var(--cor-fonte-medio);
    font-weight: 700;
}


@media screen and (max-width:600px) {

    #footer_items .social-media-buttons a{
        width: 35px;
        height: 30px;
        
    }
}