
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900&display=swap');

@import url('/src/styles/header.css');
@import url('/src/styles/main.css');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-primaria-claro:#fff9ea;
    --cor-primaria-medio: #fce8bae5;

    --cor-secundaria-Claro: #ffe100;
    --cor-secundaria-Medio: #ffcb45;
    --cor-secundaria-Escuro:#e9a209;


    --cor-fonte-claro:rgba(255, 255, 255, 0.897);
    --cor-fonte-medio: #2b2b2be3;
    --cor-fonte-escuro: #1d1d1d;

    --cor-fonte-amarela:#ffe100;
    --cor-fonte-laranja:rgba(255, 68, 0, 0.774);
    
}

.modo-dark{
    transition-duration: 0.5s;
    --cor-primaria-claro: #8f2626ec;
    --cor-primaria-medio: #7720209a;
    --cor-fonte-medio: #ffffff;
    --cor-fonte-escuro: #e9a209;
}

body{
    transition-duration: 0.5s;
    background-color: var(--cor-primaria-claro);
}

section{
    padding: 28px 8%;
}

.btn-default{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-secundaria-Escuro);
    border-radius: 15px;
    padding: 12px 17px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
    color: var(--cor-fonte-medio);
}

.btn-default:hover{
    background-color: var(--cor-secundaria-Claro);
}

.social-media-buttons{
    display: flex;
    gap: 40px;

}

.social-media-buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--cor-secundaria-Escuro);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--cor-fonte-medio);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    transition-duration: 0.2s;
}

.social-media-buttons a:hover{
    background-color: var(--cor-secundaria-Claro);
}

